{% extends 'base.html' %}

{% block content %}

        <form action="/add" method="post">
            <div>
                <label>Input Data</label>
                <input type="text" name="drinks_sold" placeholder="Enter Drinks Sold">
                <input type="text" name="money_made" placeholder="Enter money made">
                <button type="submit">Enter Data</button>
            </div>
        </form>

        <hr>

        {% for sales in salesfigures_list %}
        <div>
            <p>Sale ID: {{sales.id }} | Drinks Sold:{{ sales.drinks_sold }} | Income: £{{ sales.money_made }} | Mean: £{{ sales.mean }}</p>
            <hr>
        </div>
        
        {% endfor %}

    <a href="/generate">Download Excel File</a>
    <a href="/see_graph">Generate Graph</a>

{% endblock %}